[Desktop Entry]
Name=ComfyUI
Comment=Launch ComfyUI
Exec=kitty -e zsh -lc "direnv exec ~/ComfyUI ~/ComfyUI/venv/bin/python ~/ComfyUI/main.py"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
